In [1]:
# Scenario 1: Website Design Change
## Did the website change caused a jump?
import numpy as np
import scipy
from scipy.stats.distributions import norm

purchase_mean = 22.62
sample_deviation = 4.22
n = 100
sigma = sample_deviation / 10
z_value = (15.73 - purchase_mean) / sigma
p_value = 2*norm.cdf(-np.abs(z_value))
p_value

# Number is too big

6.341274328352063e-60

In [2]:
# Scenario 2:  Advertising Campaign
# Hyphothesis: New ad better?
ctr_bar = 0.42
ctr_mean = 0.55
s = 0.06
n = 10000
significant_level = 0.05

z_score = (ctr_bar - ctr_mean) / (s/100)
z_score
p = scipy.stats.norm.sf(abs(z_score))*2

if p < significant_level:
    print('reject null hypothesis: the new ad has an impact on the performance')
else:
    print('accept null hypothesis: the new ad does not have an impact on the performance')

reject null hypothesis: the new ad has an impact on the performance

In [3]:
# Scenario 3: Reducing Churn Rate
# the new incentive has an impact on the churn rate?
churn_mean = 0.15

n = 123422
total_left = 10076
churn_bar = total_left / n

alpha = 0.01

variance = total_left / n
standard_deviation = np.sqrt(variance)

z_score = (churn_bar - churn_mean)/ (standard_deviation / np.sqrt(n))
p_value = scipy.stats.norm.sf(abs(z_score))*2


if p_value < alpha:
    print('reject null hypothesis: the new incentive has an impact on the performance')
else:
    print('accept null hypothesis: the new incentive does not have an impact on the performance')
    
p_value

reject null hypothesis: the new incentive has an impact on the performance

0.0

In [5]:
def z_score_or_t_value(data_sample, mu, sigma, significant_level):
    mean = np.mean(data_sample)
    n = len(data_sample)
    if sigma:
        z_score = (mean - mu) / (sigma / np.sqrt(n))
        p_value = scipy.stats.norm.sf(ab(z_score))*2
    elif n > 30:
        z_score = (mean - mu) / (np.std(data_sample) / np.sqrt(n))
        p_value = scipy.stats.norm.sf(ab(z_score))*2
    else:
        # Use T score
        t, p_value = stats.ttest_1samp(data_sample, mu)
    
    if p_value < significant_level:
        print('reject null hypothesis')
    else:
        print('accept null hypothesis')

In [7]:
import pandas as pd
iris_dataset = pd.read_csv('Datasets/Iris.csv')
iris_dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
len(iris_dataset)

150

In [10]:
iris_dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
iris_dataset.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [20]:
setosa = iris_dataset[iris_dataset['Species'] == "Iris-setosa"]

In [21]:
setosa

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [22]:
setosa["SepalLengthCm"]

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: SepalLengthCm, dtype: float64

In [29]:
mean = setosa["SepalLengthCm"].mean()
mean

5.005999999999999

In [24]:
z = scipy.stats.norm.ppf(1-0.05/2)
z

1.959963984540054

In [26]:
l = mean - z*0.3525/np.sqrt(len(setosa["SepalLengthCm"]))
l

4.908293780383347

In [27]:
u = mean + z*0.3525/np.sqrt(len(setosa["SepalLengthCm"]))

In [28]:
u

5.103706219616652

In [32]:
## why length minus 1
t = scipy.stats.t.ppf(1-0.05/2, len(setosa["SepalLengthCm"]) -1)
t

2.009575234489209

In [50]:
# Find outliers for a normally distributed data, then remove them

def remove_outliers(dataset):
    outliers = []
    for i in range(len(dataset)):
        mean = dataset.mean()
        sample_deviation = np.std(dataset)
        if (dataset[i] < mean - 3*sample_deviation) or (dataset[i] > mean + 3*sample_deviation):
            outliers.append[dataset[i]]
            dataset.pop[i]
    return dataset, outliers

In [58]:
def remove_outliers_v2(dataset):
    data_mean, data_std = np.mean(dataset), np.std(dataset)
    cut_off = data_std * 3
    lower, upper = data_mean - cut_off, data_mean + cut_off
    outliers = [x for x in dataset if x < lower or x > upper]
    ourliers_removed = [x for x in dataset if x > lower and x < upper]
    return outliers, ourliers_removed

In [59]:
remove_outliers_v2(setosa["SepalLengthCm"])

([],
 [5.1,
  4.9,
  4.7,
  4.6,
  5.0,
  5.4,
  4.6,
  5.0,
  4.4,
  4.9,
  5.4,
  4.8,
  4.8,
  4.3,
  5.8,
  5.7,
  5.4,
  5.1,
  5.7,
  5.1,
  5.4,
  5.1,
  4.6,
  5.1,
  4.8,
  5.0,
  5.0,
  5.2,
  5.2,
  4.7,
  4.8,
  5.4,
  5.2,
  5.5,
  4.9,
  5.0,
  5.5,
  4.9,
  4.4,
  5.1,
  5.0,
  4.5,
  4.4,
  5.0,
  5.1,
  4.8,
  5.1,
  4.6,
  5.3,
  5.0])

In [68]:
def remove_outliers_v3(dataset):
    q1 = np.percentile(dataset, 25)
    q3 = np.percentile(dataset, 75)
    iqr = q3 - q1
    lower = q1 - 1.5* iqr
    upper = q3 + 1.5* iqr
    outliers = [x for x in dataset if x < lower or x > upper]
    ourliers_removed = [x for x in dataset if x > lower and x < upper]
    return outliers, ourliers_removed

x = [norm.rvs(loc=5, scale=1, size=100), -5, 11, 14]

remove_outliers_v3(np.array(x))

import matlab.pyplot as plt
plt.boxplot(x)
plot.show()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()